
  /* video {
    /** Simulationg background-size: cover */
    /* object-fit: cover;
    height: 100%;
    width: 100%;
  
    position: absolute;
    top: 0;
    left: 0;
  /* } */ 

     /* initial state */
 .message {
  display: none;
  }

  /* submitted state */
 .sample-form.submitted .message {
  display: block;
  padding: 25px 30px;
  background: transparent;
  font: 300 18px/27px 'Open Sans', Helvetica, Arial, sans-serif;
  text-align: center;
  }

  #background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1000;
  }


  /* .video-wrapper {
    border: 2px solid #000;
    width: 1500px;
    height: 900px;
    object-fit: cover;
    position: fixed;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  } */

  @media (max-width: 750px) {
    #background-video { display: none; }
    body {
      background: url("https://res.cloudinary.com/drbl3in3w/video/upload/v1656037131/iStock-1178752236_ves0zr.mp4") no-repeat;
      background-size: cover;
    }
}

#row {
  color: white;
}

#column {
  color: white;
}

.header {
    height: 0px;
    padding-top: 0.8em;
    text-align: center;
    font-size: 3em;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.67em;
    color: white;
  }

.title {
    font-size: 3em;
    justify-content: center;
    align-items: center;
    color: white !important;
  }
  
.base {
    justify-content: left;
    align-items: center;
    color: #faf4f4 !important; 
    z-index: 20;
}


  img {
    width: 100%;
  }
  
  pre {
    height: 150px;
    overflow-y: scroll;
    font-size: 11px;
    resize: vertical;
    color: white;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  th {
    font-family: 'Helvetica', sans-serif;
    font-weight: normal;
    color: rgb(247, 242, 242)
  }
  
  .backlink::before {
    content: '≪';
  }
  
  .row > * {
    padding-left: 0;
    padding-right: 0;
    align-items: center;
    color: white;
  }
  
  .row > .above {
    margin-bottom: 0;
    margin-top: 10px;
    align-items: center;
  }
  
  .container {
    align-items: center;
    position: fixed;
    bottom: 0;
    background: rgba(5, 5, 5, 0.5);
    color: #f1f1f1 !important;
    width: 100%;
    padding: 20px;
    z-index: 20;
    
  }

  .form-input {
    align-items: center;
  }


 