
{% extends 'base.html' %}

{% block title %}find_women_who_code(){% endblock %}
{% block header %}
<script src="../static/js/searching_alert.js"> </script>
{% endblock%}
{% block content %}

  <div class="video-wrapper">
    <video playsinline autoplay muted loop id="background-video">
      <source src="https://res.cloudinary.com/drbl3in3w/video/upload/v1656037131/iStock-1178752236_ves0zr.mp4">
    </video>
  
    <div class="container">

        <div class="row">
          <div class="col">
            <h2>Search for Programmers</h2>
          </div>
        </div>
          
    
          <a href="/add_your_data">Add your data</a>
          <br> <br />
          <a href="/favorite_programmers">View your favorite programmers</a>
          <br> <br />
        <form id="user_input" action="/search/userinput" method="POST">
      <!-- <form method="GET" action="/search"> -->
          <div class="form-input">
            <!-- <form> -->
            <label for="location">Enter a location: </label>
            <input type="text" name="location" id="location" required>
            <br> <br />
            <label for="language">Enter a programming language:</label>
            <input type="text" name="language" id="language"
            <br> <br />
            </div>
            <br />
  
            <label for="min_experience">Minimum Years of experience:</label>
            <select id="min_experience" name="min_experience">
              <option value="0">Zero</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
              <option value="4">Four</option>
              <option value="5">Five</option>
              <option value="6">Six</option>
              <option value="7">Seven</option>
              <option value="8">Eight</option>
              <option value="9">Nine</option>
              <option value="10">Ten</option>
              <option value="11">Eleven</option>
              <option value="12">Twelve</option>
              <option value="13">Thirteen</option>
            </select>
            <br> <br />
            <label for="max_experience">Maximum Years of experience:</label>
            <select id="max_experience" name="max_experience">
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
              <option value="4">Four</option>
              <option value="5">Five</option>
              <option value="6">Six</option>
              <option value="7">Seven</option>
              <option value="8">Eight</option>
              <option value="9">Nine</option>
              <option value="10">Ten</option>
              <option value="11">Eleven</option>
              <option value="12">Twelve</option>
              <option value="13">Thirteen</option>
              <option value="14">Fourteen</option>
            </select>
            <div id="message" class="message">
              <p>Searching...</p>
            </div>
            <label> --></label>
            <!-- <form id="pass-form" onsubmit="window.location.href = "/search/userinput", type="submit" value="Submit" > -->
          <input type="submit" id = "submitt_button" value="Submit" />
        </form>

    </div>

<!-- Create loader(make it invisibile until they click submit) or gif in js when submit is clicked, when there is a response -->

{% endblock %}
