{% extends 'base.html' %}

{% block title %}find_women_who_code(){% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Search for Programmers</h2>

      <form action="/search" method="GET"></form>
      <!-- <form method="GET" action="/search"> -->
          <div class="form-input">
            <form>
            <label for="location">Enter a location: </label>
            <input type="text" location="location" id="location" required>
          </form>
          </div>
  <br />
  <div class="form-input">
    <form action="/search" method="GET"></form>
    <form> 
    <label for="min_experience">Minimum Years of experience:</label>
    <select id="min_experience" name="min_experience">
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
      <option value="4">Four</option>
      <option value="5">Five</option>
      <option value="6">Six</option>
      <option value="7">Seven</option>
      <option value="8">Eight</option>
      <option value="9">Nine</option>
      <option value="10">Ten</option>
      <option value="11">Eleven</option>
      <option value="12">Twelve</option>
      <option value="13">Thirteen</option>
      <option value="14">Fourteen</option>
    </select>
  </form>
   <form action="/search" method="GET"></form>
    <form>
     <label for="max_experience">Maximum Years of experience:</label>
     <select id="max_experience" name="max_experience">
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
      <option value="4">Four</option>
      <option value="5">Five</option>
      <option value="6">Six</option>
      <option value="7">Seven</option>
      <option value="8">Eight</option>
      <option value="9">Nine</option>
      <option value="10">Ten</option>
      <option value="11">Eleven</option>
      <option value="12">Twelve</option>
      <option value="13">Thirteen</option>
      <option value="14">Fourteen</option>
    </select>
    </label>
    <form id="pass-form" onsubmit="window.location.href = '/search';" type="submit" value="Submit" >
  <input type="submit" value="Submit" />
</form>
{% endblock %}
