{% extends 'base.html' %}

    {% block title %}{% endblock %}
  
    {% block content %}
<link rel="stylesheet" href="/static/css/fwwc.css">
    <div class="video-wrapper">
        <video playsinline autoplay muted loop id="background-video">
        <source src="https://res.cloudinary.com/drbl3in3w/video/upload/v1656882237/iStock-1325061897_ahhlq0.mp4">
        </video>
    </div>
    <!-- <div class="container-welcome"> -->
        <div class="row-welcome"> 
            <div class="card-img-overlay" class="center">
                <a href="/"> <img src="https://res.cloudinary.com/drbl3in3w/image/upload/v1656888981/Logov5_cya4qv.jpg" alt="find women who code" class="center"></a>
            </div>
        </div>
 
    

    <!-- <span id="overlay_text" style="position: relative; top: 8rem; margin-left: 80px">OVERLAY</span> -->

    {% endblock %}